@media (min-aspect-ratio: 1.13) {
  .authHalf {
    width: 50%;
    margin-bottom: -7vh;
  }
  .bottomlogo {
    width: 7vw;
  }
}
@media (max-aspect-ratio: 1.13) {
  .banner {
    display: none;
  }
  .bottomlogo {
    height: 4vw;
  }
}
