/* @media (max-width:600px) {
    .banner {
      display: inline-block;
    }

} */

@media (min-aspect-ratio: 1.13){
    .authHalf{
        width: 50%;
    }
}
@media (max-aspect-ratio: 1.13){
    .banner {
        display: none ;
    }
}

