body {    
  margin: 0 ;
  padding: 0 ;
  background:#111;
    
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

@media (max-width: 942px){
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
}