@media (max-width: 942px) {
  .amtbox {
    width: 60%;
  }
  .paydiv {
    width: 100%;
    margin-bottom: 10vh;
    align-items: center;
  }
  .payinput {
    justify-content: center;
  }
  .paydiv1 {
    width: 90%;
  }
  .donatebutton {
    width: 68%;
  }
  .titlearea {
    margin-top: 5%;
  }
  .titlearea h3 {
    font-size: 30px;
  }
  .underarea h5 {
    font-size: 15px;
  }
}

@media (min-width: 942px) {
  .amtbox {
    width: 30%;
  }
  .paydiv {
    position: fixed;
    z-index: 0;
    padding: 4vw 8% 3vw 3vw;
  }
  .paydiv1 {
    z-index: -1;
    width: 84%;
    padding: 3vw 8% 0vw 3vw;
  }
  .donatebutton {
    width: 33.2%;
  }
}

table,
th,
td {
  border: solid #999 2px;
  border-collapse: collapse;
}
th {
  background-color: #222;
  color: #ffff8f;
}
